<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/cabecera.html :: cabecera('Lista Tipos')">
</head>
<body>
    <nav th:replace="fragmentos/navbar.html :: navbar('tipos')">
    </nav>

    <main>
        <div class="container px-4 py-5">
            <h1 class="pb-2 border-bottom">Lista de Tipos</h1>
            <div class="d-flex mt-3 mb-4">
                <a class="btn btn-primary" th:href="@{'/tipos/nuevo'}">Nuevo Tipo</a>
                <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
            </div>

            <div th:if="${creado != null}" th:text="${creado}" class="alert alert-success" role="alert"></div>
            <div th:if="${editado != null}" th:text="${editado}" class="alert alert-warning" role="alert"></div>
            <div th:if="${borrado != null}" th:text="${borrado}" class="alert alert-danger" role="alert"></div>

            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Nombre del tipo</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="tipo, info : ${tipoList}">
                    <td th:text="${info.index + 1}"></td>
                    <td th:text="${tipo.nombre}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/tipos/editar' + '?id=' + ${tipo.id}}">Editar</a>
                    </td>
                    <td><a class="btn btn-danger" th:href="@{'/tipos/borrar' + '?id=' + ${tipo.id}}">Borrar</a>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>