<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/cabecera.html :: cabecera('Editar Sede')">
    </head>
    <body>
        <nav th:replace="fragmentos/navbar.html :: navbar('sedes')">
        </nav>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Editar Sede</h1>
                <div class="container-fluid">
                    <form method="post" th:action="@{'/sedes/guardar'}"  th:object="${sede}">
                        <input type="hidden" th:field="*{id}" />
                        <div class="mb-3">
                            <label for="nombreSede" class="form-label">Nombre de la Sede</label>
                            <input name="nombreSede" id="nombreSede" type="text" class="form-control" th:field="*{nombreSede}">
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección de la Sede</label>
                            <input id="direccion" name="direccion" type="text" class="form-control" th:field="*{direccion}">
                        </div>
                        <a th:href="@{'/sedes/lista'}"  class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
                <div class="container px-4 py-5">
                    <h1 class="pb-2 border-bottom">Lista de trabajadores</h1>
                </div>
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>DNI del trabajador</th>
                            <th>Correo del trabajador</th>
                            <th>Nombre del trabajador</th>
                            <th>Apellidos del trabajador</th>
                        </tr>
                        <tr th:each="trabajador, info : ${trabajadoresList}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${trabajador.dni}"></td>
                            <td th:text="${trabajador.correo}"></td>
                            <td th:text="${trabajador.nombres}"></td>
                            <td th:text="${trabajador.apellidos}"></td>
                        </tr>
                    </table>
                </div>
        </main>
    </body>
</html>