<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/cabecera.html :: cabecera('Lista de Sedes')">
    </head>
    <body>
        <nav th:replace="fragmentos/navbar.html :: navbar('sedes')">
        </nav>

        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista de sedes</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" th:href="@{'/sedes/nuevo'}">Nueva sede</a>
                </div>
                <div th:if="${creada != null}" th:text="${creada}" class="alert alert-success" role="alert"></div>
                <div th:if="${editada != null}" th:text="${editada}" class="alert alert-warning" role="alert"></div>
                <div th:if="${borrada != null}" th:text="${borrada}" class="alert alert-danger" role="alert"></div>

                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Nombre de la sede</th>
                        <th>Direccion de la sede</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="sede, info : ${sedeList}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${sede.nombreSede}"></td>
                        <td th:text="${sede.direccion}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/sedes/editar' + '?id=' + ${sede.id}}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{'/sedes/borrar' + '?id=' + ${sede.id}}">Borrar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>