<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragmentos/cabecera :: cabecera('Inicio')"></head>
    <body>
        <nav th:replace="fragmentos/navbar.html :: navbar('')"></nav>

        <div class="container px-4 py-5">
            <h1 class="pb-2 border-bottom">Inicio</h1>
            <div class="d-flex mt-3 mb-4">
                <h6>Esta es la página de inicio, seleccione a dónde quiere ir con la barra de navegación</h6>
            </div>
        </div>
    </body>
</html>